<div class="container">
  <div class="input-group mb-3">
    <input #addTaskRef class="form-control mr-sm-2" type="text" name="add-task" id="add-task" />
    <button class="btn btn-primary" (click)="addTask()">Добавить задачу</button>
  </div>

  <button class="btn btn-success" (click)="sort()">Сортировать</button>
  <div class="tasks__container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <label for="search">Поиск</label>
      <input type="text" name="search" id="search" (keyup)="onFilter($event)">
      <ng-container *ngFor="let task of filteredTasks; trackByFn">
        <app-task (selected)="changeStatus($event)" [task]="task"></app-task>
      </ng-container>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <ng-container *ngFor="let task of completedTasks; trackByFn">
        <app-task (selected)="changeStatus($event)" [task]="task"></app-task>
      </ng-container>
    </div>
  </div>
</div>
